<header id="header">
    <div class="inner">
        <h1>
            <a th:href="@{/home}">
                달팽이 게시판
            </a>
        </h1>
        <nav id="gnb">
            <ul>
                <li class="t_menu_home first"><a th:href="@{/home}" >홈</a></li>
                <li class="t_menu_category"><a th:href="@{/dictionary}" >달팽이 사전</a></li>
                <li class="t_menu_category"><a th:href="@{/picture}" >달팽이 사진</a></li>
                <li class="t_menu_category"><a th:href="@{/information}" >달팽이 키우기</a></li>
            </ul>
        </nav>
    </div>
</header>