<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/mysnail.css}">
</head>

<body>
    <div th:insert="common/header.html" id="header"></div>
    <section class="container" style="height: auto !important;">
        <article id="content" style="height: auto !important;">
            <div class="inner" style="height: auto !important;">
                <div class="hgroup">
                    <div class="category">달팽이 키우기 정보</div>
                    <h1>달팽이는 어떻게 키우나요?</h1>
                </div>
                <div class="post" style="height: auto !important;">
                    <br>
                    <br>
                    <div class="txc-textbox"
                        style="border-style: double; border-width: 3px; border-color: rgb(203, 203, 203); background-color: rgb(255, 255, 255); padding: 10px;">
                        <p><span style="font-size: 24pt;">달팽이 키우기의 필수조건 "수분, 흙, 온도"</span><br></p>
                    </div>
                    <br>
                    <img class="mysnailimg2" src="https://www.zooseyo.com/dog_sale/photo_free/202112/1638963894_41741000.jpg">
                    <br>
                    <br>
                    <p>달팽이는 움직이면서 점액질을 분비하기 때문에, 수분과 습도가 필수입니다. 다른 애완동물처럼 물을 벌컥벌컥 마시진 않지만, 분무기로 수시로 물을 공급해 케이지를 촉촉하게 만들어주어야 해요.</p>
                    <br>
                    <p>또한 배란다나 창가는 달팽이에게 추울수도 있으니 살짝 따듯한 실내가 좋아요.</p>
                    <br>
                    <p>마지막으로 달팽이를 위한 흙이 따로 있습니다. "코코피트" 라는 흙인데 케이지안에 흙을 폭신하고 두툼하게 깔아주어야 달팽이가 흙을 덮기도 하고 높은 곳에서 떨어지더라도 안전할 수 있어요.</p>
                    <br>
                    
                    <div class="txc-textbox"
                        style="border-style: double; border-width: 3px; border-color: rgb(203, 203, 203); background-color: rgb(255, 255, 255); padding: 10px;">
                        <p><span style="font-size: 24pt;">달팽이가 먹는 음식</span><br></p>
                    </div>
                    <img class="mysnailimg2" src="https://en.pimg.jp/042/102/258/1/42102258.jpg">
                    <br>
                    <br>
                    <p>달팽이는 잡식으로 뭐든지 잘먹습니다. 하지만 염분기 있는 음식이나 자극적인 음식은 먹이로 주는걸 피해야해요 특히 염분기 있는 음식은 달팽이에게 독약이나 다름없기 때문에 더욱 조심해주셔야 합니다.</p>
                    <br>
                    <p>달팽이에게 좋은 음식은 야채, 과일 종류인데요 야채와 과일 말고도 달팽이집을 튼튼하게 해주려면 계란껍질등 칼슘이 많이 들어있는 음식을 주셔야해요. 따로 영양제를 주는 것도 달팽이가 더욱 건강해지겠죠?</p>
                    <br>
                    <div class="txc-textbox"
                        style="border-style: double; border-width: 3px; border-color: rgb(203, 203, 203); background-color: rgb(255, 255, 255); padding: 10px;">
                        <p><span style="font-size: 24pt;">달팽이의 수명</span><br></p>
                    </div>
                    <br>
                    <br>
                    <p>달팽이의 수명은 명주 달팽이는 1년, 아프리카왕달팽이는 5~6년정도 입니다. 달팽이는 다른 애완동물과는 달리 교감하기가 어렵지만, 어느 동물이던 함께하며 정이 들듯이 달팽이도 정이들고 또한 잘 챙겨주셔야해요.</p>
                    <p>어느 동물에게나 생명은 소중하듯이 달팽이도 애완동물로써 사랑을 듬뿍 받고 자라길 바랍니다.</p>
                    <br>
                    <div class="txc-textbox"
                        style="border-style: double; border-width: 3px; border-color: rgb(203, 203, 203); background-color: rgb(255, 255, 255); padding: 10px;">
                        <p><span style="font-size: 24pt;">마지막으로.</span><br></p>
                    </div>
                    <br>
                    <p>키우기 어렵진 않지만 손이 많이가는 달팽이, 하지만 특유의 느긋함과 귀여움으로 우리의 마음을 달래주는 달팽이 같이 키워볼까요?</p>
                </div>
            </div>
        </article>
    </section>
    <div th:insert="common/footer.html" id="footer"></div>
</body>